<!DOCTYPE html>
<html>
<head>
    <title > 
        Legumicofruct
    </title> <!-- PUNCTUL 2  et 1-->

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- va fi explicat când ajungem la CSS -->
       <!-- PUNCTUL 9  et 1-->
    <meta name="keywords" content="Legumicofruct,fructe si legume proaspete,sănătatea,furnizori locali,
       productia locala,pachetele noastre promotionale,pachetele promotionale,"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
    <meta name="description" content="Magazin online de legume si fructe.LIVRARE IN 48 ORE!"><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
    <%- include("../fragmente/head.ejs") %>
    <link rel="stylesheet" href="/resurse/css/HR.css" media="all">
       
           
</head>

<body >

   
    
    <%- include("../fragmente/header.ejs") %>
    <main id="ContinutPagina" > <!-- PUNCTUL 4 et 1-->
        <section id="PaginaPrincipala"> <!-- PUNCTUL 6 et 1-->
           

            <section id="DespreNoi">
                <h3>Despre noi!</h3>
                <% if(!locals.utilizator) { %>
                    <form id="form_inreg"  method="post" class="date"  action="/login"  enctype="multipart/form-data">
                        <p>
                            <label>
                                Username: <input type="text" name="username" id="inp-username" value="" required">
                            </label>
                        </p>
                        <p>
                            <label>
                                Parola: <input id="parl" type="password" required  name="parola" value="">
                            </label>
                        </p>
                        <p><input type="submit" value="Logare"></p>
                    </form>
                    <p><%- locals.mesajLogin %></p>
                    <% } else {%>
                       <%- locals.succesLogin %>
                    <% }  %>

                <p>
                    Bine ați venit la <b>Legumicofruct</b>, unde pasiunea <!-- PUNCTUL 10 et 1-->
                    noastră pentru <b>fructe și legume proaspete</b> și de 
                    cea mai bună calitate ne-a motivat să creăm un loc unde să puteți găsi cele mai bune produse pentru a vă 
                    ajuta să vă mențineți <b>sănătatea</b> și starea de bine.
                    Platforma noastra lucreaza doar cu <b>furnizori locali</b> , astfel sprijinim si promovam sprijinim <b>productia locala</b>.<br>
                    <i><q>Cu cât consumi mai multe fructe şi legume, cu atât primeşti mai mult din energia şi forţa vitală a plantelor.</q>
                    </i>
                    </p>

                    <figure >
                        <img  class="size_banner" src="resurse/imagini/banner_grid1.png" >
                    </figure>
            </section>
            <section id="CumLivram" class="font_CumLivram"><!--ETAPA 2 TASK FONT EXTERN-->

                <h3>
                    Cum se procedeaza?
                </h3>

                
                    <details><!-- PUNCTUL 12 et 1-->
                        <summary><b>PASUL 1</b> Alegi din gama variata, produsele tale preferate si le adaugi in cos.</summary>
                        <p style="font-style: italic;">Pentru a iti usura cautarea produsului dorit, te poti folosi de 
                            filtrele de cautare din pagina dedicata produselor.Pentru a te asigura ca produsele s-au salvat in cos incearca sa verifici cosul 
                            dupa fiecare adaugare. In cosul virtual poti mari cantitatea unui produs.</p>
                    </details>
                    <details>
                        <summary> <B>PASUL 2</B> Pregatesti comanda, introducand in formular, datele de contact si firma de curierat dorita.</summary> 
                        <p style="font-style: italic;">Campurile din formular ce contin <b>*</b> sunt obligatorii.Fara completarea acestor campuri nu puteti trece mai departe.
                            In ceea ce priveste livrarea, ai posibilitatea sa alegi echipa de curierat <i>Legumicofruct</i> sau alte firme de curierat ce se afla in parteneriat cu echipa noastra precum <i>FAN Courier</i>, <i>SAMEDAY</i>, <i>URGENT CARGUS</i> </p>
                    </details>
                    <details>
                        <summary><b>PASUL 3</b> Dupa ce comanda a fost plasata, in cel mult 48 de ore vei primi cele mai bune produse.</summary>
                        <p style="font-style:italic;">Odata ce curierul ajunge la adresa ta, vei fi contactat telefonic in vederea ridicarii coletului.
                            Pe loc ai dreptul sa deschizi coletul si sa te convingi ca produsele tale au ajuns intr-o stare buna. In cazul in care nu esti multumit , poti returna pe loc produsul. In cazul in care ridicati pachetul si sesizati ulterior o problema, refuzul nu va fi acceptat.</p>
                    </details>
                  
                

            </section>
            <section id="PachetePromotionale"> <!-- PUNCTUL 7 et 1-->
                <h3>Pachete Promotionale</h3>
                <p style="font-weight: bold;">
                    Incearca <b>pachetele noastre promotionale</b>
                </p>
                <figure> <!-- PUNCTUL 8 et 1-->
                    <img class="size_cosul_familiei" src="resurse/imagini/COSUL_FAMILIEI.jpg">
                    <figcaption>COSUL FAMILIEI</figcaption>
                </figure>
               <ul>
                    <li> <!-- PUNCTUL 10 et 1-->
                    Cosul familiei. Pret <dfn>80 RON</dfn>
                    </li>
                    <li>
                    Cosul verde. Pret <dfn>60 RON</dfn>
                    </li>
                    <li>
                    Cosul cu fructe. Pret <dfn>85 RON</dfn>
                    </li>
                    <li>
                    Cosul exotic. Pret <dfn>99 RON</dfn>
                    </li>
               </ul>
                
            </section>

            <section id="ProduseReduse">
                <h3>
                    Produse reduse 
                </h3>
                <p>Reducerea se va aplica in cosul de cumparaturi<p>
                <ul>
                    <li>
                        Ceapa rosie . Pret redus cu 25%
                    </li>
                    <li>
                        Cartofi dulci. Pret redus cu 15%
                    </li>
                    <li>
                        Banane ECO . Pret redus cu 33%
                    </li>
                    <li> 
                        Baby Ananas. Pret redus cu 12%
                    </li>
                    <li>
                        Nuca de cocos. Pret redus cu 8%
                    </li>

                </ul>
            </section>
        

        <section id="AlteInformatii"><!-- PUNCTUL 11 et 1-->
            <h2>Importanta legumelor si a fructelor in viata noastra</h2>

            <div class="container-iframe">
                    <div class="taburi-iframe">

                        <a id="link_1" href="https://www.youtube.com/embed/5pwVW4CHIOg" target="my_iframe" style="text-decoration: none;">Beneficiile fructelor și legumelor<br> în funcție de culorile acestora </a>
                        <a id="link_2" href="https://www.youtube.com/embed/2oFZxsYYVcs" target="my_iframe" style="text-decoration: none;">Rolul fructelor în viața noastră</a>
                    
                    </div>

                    <iframe  class ="size_video" name="my_iframe" width="560" height="315" poster="/resurse/imagini/poster.png" src="https://www.youtube.com/embed/5pwVW4CHIOg" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
            </div>
            
            <p style="font-weight: bold; text-align: center;">Mai multe informatii puteti gasi 
                <a href="resurse/vitamine_si_minerale.pdf"  style="text-decoration: none;" download>aici</a> <i class="fa-regular fa-circle-left fa-beat-fade"></i>
            </p>

        </section>

        <section id="LoremIpsum6">
            <div class="table-scrollbar">
                <h2>Furnizorii nostrii</h2>
            <table>
                <caption> Cei mai apreciati furnizori</caption>
                <thead>
                    <tr>
                        <th>Nume</th>
                        <th>Oras</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Agriter Grup</td>
                        <td>Constanta</td>
                    </tr>
                    <tr>
                        <td>Gradinatm</td>
                        <td>Timisoara</td>
                    </tr>
                    <tr>
                        <td>Dinamic Leg</td>
                        <td rowspan="2">Bucuresti</td>
                    </tr>
                    <tr>
                        <td>Axerom</td>
                        
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Lista continua cu furnizori din Bacau, Braila, Cluj, Oradea etc.</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <hr class="HR">
        </section>

        <section id="LoremIpsum7">
            <h2>
                Cantecul legumelor, desen animat pentru copii.
            </h2>
            <video preload="true"  muted controls poster="/resurse/imagini/video_poster.jpg">
                <source src="/resurse/video/Vegetable_Song.mp4" type="video/mp4">
                <source src="/resurse/video/Vegetable_Song.mov" type="video/mov">
                <track default src="/resurse/video/my_captions_ro.vtt" kind="captions" srclang="ro" label="romana" />
                <track  src="/resurse/video/my_captions_fr.vtt" kind="captions" srclang="fr" label="franceza" />
            </video>

            

        </section>

        <section id="LoremIpsum8">
            

            <h2>Galerie</h2>

            <%- include("../fragmente/galerie.ejs") %>
        
            
    
        </section>

        </section>

        

    </main>

    <%- include("../fragmente/footer.ejs") %>

    <!--ETAPA 2 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    

</body>
</html>